body {
  background-color: #333;
  color: #EEE;
}
/* Players */
.player {
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  z-index: 10;
  border: 2px solid gray;
  border-radius: 50%;
}
.one {
  background-color: #0971ef;
}
.two {
  background-color: red;
}

.dimmed {
  position: relative;
}
.dimmed:after {
  content: " ";
  z-index: 99;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.ready-up > td {
  background-color: gray;
}
.ready {
  background-color: #0bea0b !important;
}


body {
  overflow-x: hidden; /* hide scroll bars */
}

header {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 40%;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}

table.controls {
  border: 2px solid gray;
}
table.controls thead, table.controls th {
  padding-top: 2px;
  padding-bottom: 3px;
  border-bottom: 2px solid gray;
}
.controls td {
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.controls img {
  width: 180px;
}

input {
  color: #333;
}

/* Game display */
.game {
  margin-top: 1%;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;

}
/* Maze display */
.maze table {
  margin-left: auto;
  margin-right: auto;
  background-color: #bbb;
}
.maze td {
  width:40px;
  height:40px;
  background-color: black;
}
.maze tr {
  width: 150px;
}
/* Cell borders/maze walls */
.top {
  border-top: 3px solid black;
}
.right {
  border-right: 3px solid black;
}
.bottom {
  border-bottom: 3px solid black;
}
.left {
  border-left: 3px solid black;
}

td.finish {
  background-color: #f9c402;
}

td.shown {
  background-color: inherit;
}


.center {
  text-align: center;
}

/* used by restart game button */
.hide {
  display: none;
}
.show {
  display: inline-block;
}